mixin input(description)
	- if (description) {
		p
			input(type="text", placeholder=description)
	- }
	- else {
		p
			input(type="text")
	- }

mixin email(description)
	- if (description) {
		p
			input(type="email", placeholder=description)
	- }
	- else {
		p
			input(type="email")
	- }

mixin password(description)
	- if (description) {
		p
			input(type="password", placeholder=description)
	- }
	- else {
		p
			input(type="password")
	- }

mixin select(items)
	select
		- each item in items
			option= item

mixin submit(description, pos)
	- if (pos === 'center') {
		p.center-justify
			input(type="submit", name=description)
	- }
	- else if (pos === 'right') {
		p.right-justify
			input(type="submit", name=description)
	- }
	- else {
		p
			input(type="submit", name=description)
	- }

mixin switch(name, items)
	- if (items) {
		.switch-widget
			ul
				- each item in items
					- var value = item.toLowerCase(item.replace(' ','-'))
						li.switch-item
							.switch-object
								div.switch
								div.on
							label= item
	- }
	- else if (name) {
		.switch-widget
			div.switch
			div.on
		label= name
	- }
	- else {
		.switch-widget
			div.switch
			div.on
	- }

mixin checkbox(name, items, orientation)
	- if (orientation === 'list') {
		.checkbox-widget
			ul
				- var iterCheck = 1
				- each item in items
					- var value = item.toLowerCase(item.replace(' ','-'))
					li.checkbox
						input(type="checkbox",name=name,value=value,id="test"+iterCheck)
						label(for="test"+iterCheck)= item
						- iterCheck++
	- }
	- else {
		.checkbox-widget
			- var iterBox = 1
			- var check = (Math.random() + 1).toString(36).substring(7)
			p
				- each item in items
					- var value = item.toLowerCase(item.replace(' ','-'))
					span.checkbox
						input(type="checkbox",name=name,value=value,id=check+iterBox)
						label(for=check+iterBox)= item
						- iterBox++
	- }

mixin radio(name, items)
	.radio-widget
		- var iterRadio = 1
		- var rad = (Math.random() + 1).toString(36).substring(7);
		p
			each item in items
				- var value = item.toLowerCase(item.replace(' ','-'))
				span.radio
					input(type="radio",name=name,value=value,id=rad+iterRadio)
					label(for=rad+iterRadio)= item
					- iterRadio++
mixin textarea(description)
	p
		textarea(placeholder=description)